/* Comment */

code > kw { color: rgb(13, 104, 179);  }

code > co { color: rgb(64, 163, 157); font-style: italic; }

h1{
	color: #028e62;
	font-weight:600;

}

h2{
	color: #016fad;
	font-weight:600;

}
h3{
	color: #fa3b74;
	font-weight:600;

}
h4{
	color: rgb(2, 82, 156);
	font-weight:500;

}
h5{
	color: rgb(203, 76, 4);
}
.sourceCode{
	font-family: 'menlo' monospace;
}
a{color: rgb(106, 2, 55)}
